{% extends "shared/base.html" %}
{% block title %}Editar{% endblock %}
{% block body %}
<div class="container mt-5">
    <div class="d-flex justify-content-center">
        <div class="card shadow-lg p-4" style="width: 50%; background-color: #ffffff; border: 1px solid #dee2e6;">
            <div class="card-body">
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <div class="d-grid">
                        <input type="submit" class="btn btn-cool btn-lg" value="Guardar cambios">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
